@import url("./normalize.css");
@import url("./tipografia.css");
@import url("./components/boton.css");
@import url("./components/header.css");

* {
  padding: 0;
  margin: 0;
}

:root {
  --font-family-base: "Poppins", Arial, Helvetica, sans-serif;

  /* Tamaños de texto */
  --font-size-headline-medium: 3rem;
  --font-size-title-large: 2.75rem;
  --font-size-title-medium: 2.5rem;
  --font-size-title-small: 2rem;
  --font-size-body-large: 1.75rem;
  --font-size-body-medium: 1.5rem;
  --font-size-label-medium: 1rem;

  /* Pesos de fuente */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Altura de línea */
  --line-height-default: 1.5;
  --line-height-tight: 1.3;
  --line-height-loose: 1.4;

  /* colores */
  --color-background: #16161a;
  --color-headline: #fffffe;
  --color-paragraph: #94a1b2;
  --color-btn: #7f5af0;
  --color-tertiary: #2cb67d;
}

html {
  color-scheme: dark light;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  transition: backdrop-filter 0.3s ease;
}
