@import url("./normalize.css");
@import url("./tipografia.css");
@import url("./components/boton.css");

* {
  padding: 0;
  margin: 0;
}

:root {
  --font-family-base: "Poppins", Arial, Helvetica, sans-serif;

  /* Tamaños de texto */
  --font-size-headline-medium: 3rem;
  --font-size-title-large: 2.75rem;
  --font-size-title-medium: 2.5rem;
  --font-size-title-small: 2rem;
  --font-size-body-large: 1.75rem;
  --font-size-body-medium: 1.5rem;
  --font-size-label-medium: 1rem;

  /* Pesos de fuente */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Altura de línea */
  --line-height-default: 1.5;
  --line-height-tight: 1.3;
  --line-height-loose: 1.4;

  /* colores */
  --color-background: #16161a;
  --color-headline: #fffffe;
  --color-paragraph: #94a1b2;
  --color-btn: #7f5af0;
  --color-tertiary: #2cb67d;
}

html {
  color-scheme: dark light;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  transition: backdrop-filter 0.3s ease;
}

.header {
  width: 100vw;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.header__logo {
  text-decoration: none;
  color: var(--color-tertiary);
  background: linear-gradient(to right, #2cb67d, #068b54);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.navbar {
  display: none;
}

.navbar__list {
  list-style: none;
}

.navbar__link {
  color: var(--color-headline);
  text-decoration: none;
}

.header__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.toggle-btn {
  padding: 2px;
  border-radius: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px); /* Ajustado para que inicie desplazado */
    width: 80vw;
    background-color: rgba(105, 105, 105, 0.199);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 7px;
    display: flex; /* Cambiar a flex por defecto */
    opacity: 0; /* Inicialmente oculto */
    pointer-events: none; /* Evitar interacciones cuando está oculto */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Cambiar el orden para una transición más suave */
  }

  .navbar.active {
    opacity: 1; /* Visible */
    transform: translateX(-50%) translateY(0); /* Sin desplazamiento al activarse */
    pointer-events: auto; /* Permitir interacciones cuando está visible */
  }

  .navbar__list {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }

  .toggle-btn .open {
    display: inline;
  }

  .toggle-btn .close {
    display: none;
  }
}
